:root {
    --primarnaboja:#FBB03B;
    --fontdark:#182117;
    --sekboja:#3CA0FA;
}
body {
    font-family:'Roboto', sans-serif;
    padding: 0;
    margin: auto 0;
}
.header{
    display: flex;
    background-color: var(--primarnaboja);
    align-items: center;
}
.container h1 {
    margin: auto 0;
    color: var(--fontdark);
    white-space: nowrap;
}
.hero{
    background-color: var(--primarnaboja);
    padding: 0;
    margin: auto 0;
    position: relative;
}
.hero >p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    padding: 20px;
}
.hero img {
    width: 100%;
}
#dive { display: none;
}
.topics {
    color: var(--fontdark);
    padding: 10px 10px;
}
.topics img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}
.agency img {
    width: 60px;
}
.agency {
    display: flex;
}/*Index */
.booking {
    display: inline;
    background-color: var(--sekboja);
    margin:5px 0 ;
    padding: 0 5px;
}
.booking {
    cursor: pointer;
 }
.booking h2{
    margin: 10px 0;
    font-size: 16px;
    white-space: nowrap;}
.herogallery p {
    font-size: 14px;
    white-space: nowrap;
 }
.herogallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primarnaboja);
    padding: 0 5px;
    flex-basis: 40%;
}
.herogallery .container {
    background-color: var(--primarnaboja);
    padding-left: 0;
    justify-content: space-around;
}
.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
}
 .prev , .next {
    padding: 0;
    margin: 0;
    font-size: 20px;
 }     
.gallery-container .gallery {
    display: flex;
    overflow: hidden;
    width: calc(100% / 3 * 3);
}
.gallery-container .gallery-image {
    width:100%;
    border-top: #fff 4px solid;
    border-bottom: #fff 4px solid;
}     
.gallery-image {
    height: auto;
}
.gallery{
    height: 450px;
 }
.gallery-container button {
    cursor: pointer;
    border: none;
    opacity: 0.75;
    z-index: 999999;
}
.prev{
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 60px;
}
.next{
    position: absolute;
    top: 50%;
    right: 3%;
    font-size: 60px;
}
 .destination img {
    display: block;
    object-fit: cover;
    height: auto;
    width: 100%;
    border: #fff 3px solid;
}/*Gallery*/
.nav{
    display: flex;
    align-items: center;
}
.nav .menu i {
    font-size: 20px;
    padding: 30px;
}
.nav .menu ul.show {
    display:flex;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    z-index: 999999;
}
.nav ul{
    list-style: none;
    margin: 0;
    display:none;
    padding-left: 0;
}
.nav li {
    border-bottom: groove var(--sekboja);
}
.nav ul.show li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: var(--sekboja);
}
ul li:last-child {
    border-bottom: none;
}
.nav ul li a{
    text-decoration: none;
    color: var(--fontdark);
    margin: 0;
    white-space: nowrap;
    padding: 10px;
}/*Menu*/
.footer  .container {
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
}
.footer {
    background-color: var(--primarnaboja);
}
.socials {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap:15px;
}/*Footer*/
.aboutus {
    text-align: center;
    padding: 0 15px;
}
.arashiyama img {
    object-fit: cover;
    height: auto;
    width: 100%;
}
.aboutus p , h1 {
    margin-bottom: 5px;
}
.aboutus :nth-child(2) {
    color:#654209;
    font-style: italic;
}/*aboutus*/
.map {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.map h2 {
        margin:5px auto;
    }
iframe {
    width: auto;
    height: 250px;
}
.phonemail a {
    text-decoration: none;
    color: var(--fontdark);
    font-size: 14px;
}
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.writeus {
    margin: 10px auto;
    width: fit-content;
}
#tel {
    margin-bottom: 8px;
}
.contact h2{
    margin: 10px 0;
}
#sub {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.phonemail{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-top: 5px;
}/*contact*/
@media  screen and (max-width:500px) {
    .topics img {
        object-fit: cover;
    }
    .herogallery p {
        font-size: 16px;
    }
    .container {
        width: 370px;
        display: flex;
    }
    .herogallery {
        display: block;   
    }
   .phonemail a {
        text-decoration: none;
        color: var(--fontdark);
        font-size: 14px;
    }
}

@media screen and (min-width:501px) {
   .container {
        display: flex;
        flex-basis: 40%;
        align-items: center;
        width: auto;
        }
    .header .container h1 {
        white-space: nowrap;
    }
    .header {
        display: block;
    }
    .hero img {
        object-fit:cover;
        height: 350px;
    }
    .topics {display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 50%;
    }
    .topics >div {
        display: flex;
        flex-basis:calc(50% - 20px);
        height: auto;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: 80%;
    } 
    .topics >div >img {
       max-width: 100%;
        height: 300px;
    }
    .arashiyama {
        width: 400px;
        margin: auto;
    }
    .topics >div >h2, .topics >div >p{
        text-align:center
    }
    .phonemail a {
        text-decoration: none;
        color: var(--fontdark);
        font-size: 16px;
    }
    .phonemail{
        padding: 0;
    }
    .contact h2 {
        margin: 5px 0;
    }
    .writeus {
        margin: 30px auto;
    }
    .map{
        margin: 0 auto;
    }
    iframe {
        width: 800px;
        height: 350px;
    } 
    #dive   {
        width: 200px;
    }
    #dive >img {
        height: 200px;
    }   
}
@media  screen and  (min-width:900px) {
    .container {
        justify-content: space-around;
        align-items: center;
    }
    .header >.container{
        flex-direction: row-reverse;
    }   
    .nav {
        padding-left: 50px;
        display: flex;
        align-items: center;
     }
    .menu {
        display: flex;
        flex-basis: 33%;
    }
    .nav ul li a:hover {
        background-color: var(--sekboja);
        padding: 15px ;
    }
    .nav a {
        font-size: 20px;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
        position: sticky;
    }
    .gallery{
        height: 450px;
    }     
    .nav li {
        margin: auto 5px;
        padding-left: auto;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        border-bottom: none;
    }
    .menu i {
        display: none;
    }
    .menu {
        position: static;
        justify-content: center;
        }
    .nav{
            display: flex;
            align-items: center;
            padding-left: 20px;
    }
    .nav ul li a{
        text-decoration: none;
        color: var(--fontdark);
        margin-left: 15px;
    }
    .hero p {
        font-size: 18px;
        text-align: center;
    }
    .hero img {
        object-fit:cover;
        height: 450px;
    }
    #dive {
        width: 200px;
        height: 200px;
        position:absolute;
        right: 10%;
        top: 5%;
        display: block;
    }
    #dive >p{
        margin: 0;
        font-size: 22px;
        color: antiquewhite;
        margin-bottom: 10px;
        font-style: italic;
    }
    #dive >img {
        border: #fff solid 5px;
        object-fit: cover;
        height: 200px;
    }
    .booking {
        margin:10px 0 ;
        padding: 0 10px;
    }
    .gallery-container .gallery-image {
    width: calc(100% / 3);
     }    
    .gallery{height: 650px;}
    .booking h2{margin: 10px 0;}
    .herogallery p {font-size: 22px;}
    .d1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    }
   .d2{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    height: 350px;
   }         
    .destination img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 4px #fff solid;
    }         
    .topics {flex-wrap: nowrap;} 
    .d2 img {border-top: none; }
    .menu {justify-content: center;
     margin-right: 10px;}
    .arashiyama img { object-fit:fill;}
    .arashiyama {
        width: 1000px;
        margin: auto;
    }
    .aboutus {
    max-width:1000px;
    justify-content: center;
    }
    .wraper .aboutus {max-width: 800px;}
    .wraper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
    }
    .gallery-image {object-fit: cover;}
    iframe{
        width: 600px;
        height: 600px;
        
    }
    .phonemail a {
        text-decoration: none;
        color: var(--fontdark);
        font-size: 18px;
        display: block;
    }
    .wrap {
        margin-right: 10%;
    }
    .phonemail{
        padding-top: 40%;
        margin: 0 auto;
        display: block;
        height: fit-content;
    }
    .contact {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        text-align: start;
    }
    .writeus {
        margin-top: 80px;
    }
   
}
@media  screen and  (min-width:1100px){
    #dive {
    width: 300px;
    height: 300px;
       }  
    #dive >img {
    height: 300px;
    }
}